<template>
  <q-page padding>
    <q-search v-model="search" />
    <q-btn-group>
    <q-btn icon="edit_location" class="botao" label="Localização" />
    <q-btn icon="filter" class="botao" label="Filtros" />
    </q-btn-group>

     <q-card inline class="q-ma-sm">
      <q-card-media>
        <img src="https://placeimg.com/640/480/animals">
      </q-card-media>
      <q-card-title align="center">
        Nome - Raça
        <span slot="subtitle">Cidade - Estado</span>
      </q-card-title>
      <q-card-actions align="around">
        <q-btn flat round color="red" icon="favorite" />
        <q-btn flat round color="faded" icon="bookmark" />
        <q-btn flat round color="primary" icon="share" />
      </q-card-actions>
    </q-card>

    <q-card inline class="q-ma-sm">
      <q-card-media>
        <img src="https://placeimg.com/640/480/animals">
      </q-card-media>
      <q-card-title align="center">
        Nome - Raça
        <span slot="subtitle">Cidade - Estado</span>
      </q-card-title>
      <q-card-actions align="around">
        <q-btn flat round color="red" icon="favorite" />
        <q-btn flat round color="faded" icon="bookmark" />
        <q-btn flat round color="primary" icon="share" />
      </q-card-actions>
    </q-card>

    <q-card inline class="q-ma-sm">
      <q-card-media>
        <img src="https://placeimg.com/640/480/animals">
      </q-card-media>
      <q-card-title align="center">
        Nome - Raça
        <span slot="subtitle">Cidade - Estado</span>
      </q-card-title>
      <q-card-actions align="around">
        <q-btn flat round color="red" icon="favorite" />
        <q-btn flat round color="faded" icon="bookmark" />
        <q-btn flat round color="primary" icon="share" />
      </q-card-actions>
    </q-card>

    <q-page-sticky position="bottom-right" :offset="[0, 18]" @click="$router.push('/inserir-pet')">
      <q-fab
  class="fixed"
  style="left: 150px; bottom: 18px"
  color="primary"
  icon="add"
></q-fab>
    </q-page-sticky>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
.row.inline {
width: 100%;
}
.botao {
  width: 50%;
}
</style>
