<template>
  <q-page padding>
<q-input v-model="text" float-label="Nome" required />
<q-input v-model="password" type="password" float-label="Senha" />
<q-btn color="primary" class="full-width" label="Entrar" @click="$router.push('/achados-perdidos')" />
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
