<template>
  <q-page padding>
    <q-card inline class="q-ma-sm">
      <q-card-media>
        <img src="https://placeimg.com/640/480/animals">
      </q-card-media>
    </q-card>
    <q-input v-model="text" float-label="Nome" required />
    <q-input v-model="text" float-label="Localização" required />
    <q-input v-model="num" type="number" prefix="R$" float-label="Recompensa" />
    <q-select
        color="amber"
        stack-label="Animal"
        v-model="select"
        :options="optionsAnimal"
        class="animal"
    />
    <q-select
        color="amber"
        stack-label="Raça"
        v-model="select2"
        :options="optionsRaca"
    />
    <q-input rows="5" v-model="area" inverted type="textarea" class="descricao" float-label="Descrição do Animal" />
    <div>
    <p class="caption" align="center">Selecione as formas de contato</p>
      <q-checkbox v-model="check1" color="secondary" label="seuemail@email.com" class="check1" />
      <q-checkbox v-model="check2" color="secondary" label="81 9 9999-9999" />
    </div>
      <q-btn color="primary" class="full-width" label="Adicionar Pet" @click="$router.push('/achados-perdidos')" />
</q-page>
</template>

<script>
export default {
  data () {
    return {
      area: '',
      check1: false,
      check2: false,
      select2: 'vira-lata',
      select: 'cachorro',
      optionsRaca: [
        {
          label: 'Vira-Lata',
          value: 'vira-lata'
        },
        {
          label: 'Poddle',
          value: 'poddle'
        },
        {
          label: 'Pug',
          value: 'pug'
        },
        {
          label: 'Pitbull',
          value: 'pitbull'
        }
      ],
      optionsAnimal: [
        {
          label: 'Gato',
          value: 'gato'
        },
        {
          label: 'Cachorro',
          value: 'cachorro'
        }
      ]
    }
  }
}
</script>

<style>
 .caption {
 margin-top: 2em;
 }
 .full-width {
 margin-top: 2em;
 }
 .descricao {
 margin-top: 2em;
 }
 .animal {
 margin-top: 1em;
 }
 .check1 {
  margin-right: 1em;
 }
</style>
