<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Cadê Meu Pet
          <div slot="subtitle">O aplicativo de animais desaparecidos</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>Criar Conta / Minha Conta</q-list-header>
        <q-item to="/">
          <q-item-side icon="school" />
          <q-item-main label="MinhaConta" sublabel="Minha Conta" />
        </q-item>

        <q-list-header>Achados e Perdidos</q-list-header>
        <q-item to="/achados-perdidos">
          <q-item-side icon="school" />
          <q-item-main label="AchadosPerdidos" sublabel="Achados e Perdidos" />
        </q-item>

        <q-list-header>Inserir Pet</q-list-header>
        <q-item to="/inserir-pet">
          <q-item-side icon="school" />
          <q-item-main label="InserirPet" sublabel="Inserir Pet" />
        </q-item>

        <q-list-header>Favoritos</q-list-header>
        <q-item to="/favoritos">
          <q-item-side icon="star" />
          <q-item-main label="Favoritos" sublabel="Favoritos" />
        </q-item>

      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
